In [2]:
import pandas as pd
data = pd.read_stata('candidate.dta')
data.to_csv('teste.csv')

In [6]:
df = pd.read_csv("teste.csv")

In [7]:
df

,ID,resID,atmilitary,atreligion,ated,atprof,atinc,atrace,atage,atmale,selected,rating
0,0,A2NEN4NSNS2O8S,Did Not Serve,Mormon,Community college,Car dealer,5.1M,White,75,Female,0,0.333333
1,1,A2NEN4NSNS2O8S,Served,None,No BA,High school teacher,65K,Asian American,60,Male,1,0.500000
2,2,A2NEN4NSNS2O8S,Did Not Serve,Catholic,Small college,Farmer,32K,Native American,68,Female,1,0.666667
3,3,A2NEN4NSNS2O8S,Served,Mainline protestant,Small college,Doctor,54K,White,75,Male,0,0.666667
4,4,A2NEN4NSNS2O8S,Served,None,Baptist college,Doctor,5.1M,Native American,45,Female,0,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
3461,3461,A1CDHU1KJTE1IJ,Served,Catholic,Community college,Business owner,32K,Black,60,Male,0,0.500000
3462,3462,A1CDHU1KJTE1IJ,Did Not Serve,Jewish,Ivy League university,Doctor,54K,Caucasian,60,Male,0,0.500000
3463,3463,A1CDHU1KJTE1IJ,Served,Mainline protestant,State university,Doctor,65K,White,45,Male,1,0.500000
3464,3464,A1CDHU1KJTE1IJ,Served,Mormon,Community college,Business owner,210K,Hispanic,45,Male,1,0.500000
3465,3465,A1CDHU1KJTE1IJ,Served,Mainline protestant,State university,Car dealer,54K,Hispanic,36,Male,0,0.500000